<h2> Show all post</h2>


<p> title: <%= @post.title %> </p>
<p> content: <%= @post.content %> </p>
<p>image:<%= cl_image_tag(@post.image.key, width: 200, height: 100, crop: :scale, effect: "cartoonify") if @post.image.attached? %></p>
<%# <p> image: <%= image_tag @post.image,  width:"200px" if @post.image.attached? %></p>
<% if user_signed_in?%>
 <h4> Comments:</h4>
  <div id= "comment_pane">
  <% @post.comments.each do |comment|%>
     <%= render 'comments/comment', comment: comment%>
     <%end%>

  <div>
  <h2> Add A comment:</h2>
   <%= render 'comments/form' %>
  </div>
 <%end%>
<br>
<%= link_to 'Back', posts_path %> <br>
<% if user_signed_in?%>
<% if can? :update, @post %>
<%= link_to 'Edit existing post', edit_post_path %><br>
<%end%>
<% if can? :destroy, @post %>
<%= link_to 'delete post', post_path, method: :delete %><br>
<%end%>
<% if can? :new, @post %>
<%= link_to 'new post', new_post_path %><br> 
<%end%>
<%end%>
 
